{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/prototype/1/prototype.js"></script>
    <link type="text/css" href="{% static 'css/index.css' %}" rel="stylesheet">
    <title>Главная</title>

</head>
<body>
    <div class="wrapper">
        <!-- <p id="out"></p> -->
        <div class="author-wrap">
            <a href="/" class="author">monica kim</a>
        </div>
        <div class="footer-wrap">
            <div>
                <a href="work/" class="about">about me</a>
            </div>
            <div>
                <a href="/" class="contact">contact</a>
            </div>
        </div>
    </div>
    <script src="../static/js/balls-motion.js"></script>
</body>
</html>